<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        <h1>Header</h1>
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="todotext">
            <input type="submit" value="Add">
        </form>
    </div>
    <div>
        <h1>Todo Items</h1>
        <form method="POST">
            <input type="text" name="q" placeholder="Search..">
            <input type="submit" value="Search">
        </form>
        <ul>
            <h2>Search Result</h2>
            {% for todoitem in searchtodo %}
            <li>
                <strong class="item">{{ todoitem.text }}</strong>
                <a href="{{ url_for('complete', id=todoitem.id) }}" class="button" >complete</a>
                <a href="{{ url_for('delete', id=todoitem.id) }}" class="button" >delete</a>
            </li>
            {% endfor %}
            <h2>Incomplete Items</h2>
            {% for todoitem in incompleteit %}
            <li>
                <strong>{{ todoitem.text }}</strong> 
                <a href="{{ url_for('complete', id=todoitem.id) }}" class="button" >complete</a>
                <a href="{{ url_for('delete', id=todoitem.id) }}" class="button" >delete</a>
                <a class='up button' href='#' >up</a>
                <a class='down button' href='#'>down</a></li>
            </li>
            {% endfor %}
            <h2>Completed Items</h2>
            {% for todoitem in completeit %}
            <li>
                <strong>{{ todoitem.text }}</strong> 
                <a href="{{ url_for('delete', id=todoitem.id) }}" class="button">delete</a>
                <a class='up button' href='#' >up</a>
                <a class='down button' href='#'>down</a></li>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>